<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="show-chatbot">
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="index.html" class="logo">
                        <img src="../static/images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Компания
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="coffee-menu.html" class="menu__list-link">
                                    Меню
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="test.html" class="menu__list-link">
                                    Что-то
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Франшиза
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Работа
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/logout class="logo">
                        <img src="../static/images/door.svg" alt="" class="profile-logo__img">
                    </a>
                </div>
            </div>
        </header>


        <main class="main">
            <div class="content grey" style="min-height: calc(-656.8px + 100vh);">
                <div class="row">
                    <div class="title-wrap flex" style="padding-bottom:30px;">
                        <h2 class="indent">Личный кабинет специалиста технической поддержки</h2>
                    </div>

                     <div class="menuLink-wrap verticalScroll pb-0">

                        <ul class="menuLink mb-0">
                            <li class="tab_profile active"><a href="#menuLink-wrap" onclick="openbox('tabProf', this); return false" rel="nofollow">Изменение контента</a></li>
                            <li class="tab_profile "><a href="#menuLink-wrap" onclick="openbox('tabCancel', this); return false" rel="nofollow">Заявки на отмену бронирования</a></li>
                        </ul>


                    </div>
                </div>

                <div id="tabProf" class="profileBox tabs-content__profile" style="display:block;">
                    <div class="row">
                        <div class="d-flex">
                            <div class="sidebar">
                                <div class="wrapper">
                                    <div class="user">
                                    <div class="text-wrap mb-2 pb-1">
                                        <p class="name" style="font-size: 20px;"> Выберите действие: </p>
                                    </div>
                                    </div>

                                        <ul class="listInfo">

                                            <li>
                                                <a href="#" class="list-info-item" data-target="add_new_card_form">
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                    Добавить новую карточку
                                                </a>
                                            </li>
                                            <hr>
                                            <li>
                                                <a href="#" class="list-info-item" data-target="change_card_selector">
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/swap.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                    Изменить выбранную карточку
                                                </a>
                                            </li>
                                            <hr>
                                            <li>
                                                <a href="#" class="list-info-item" data-target="delete_card_selector">
                                                    <img class="ic_finished_orders"  src="../static/images/svg-files/delete.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                    Удалить выбранную карточку
                                                </a>
                                            </li>
                                            <hr>

                                        </ul>

                                    </div>
                                </div>




                            <div class="sidebar" style="width: 800px;">
                                <div class="wrapper" style="min-width: 750px;">
                                    <!--  add new card-->
                                    <div id="add_new_card_form" class="user" style="display: none;">
                                        <h2>
                                            Добавление новой карточки
                                        </h2>
                                        <div class="add-content__form" style="padding-top: 50px;">
                                            <form method="post" action=/place_action style="margin: 0px 50px; justify-content: center;" enctype="multipart/form-data">
                                                <input style="display: none" type="text" value="add" name="action">
                                                <ul class="listInfo">
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Тип площадки</p>
                                                        </div>
                                                        <select style="padding-right: 50px;" name="type" id="typeSelect">
                                                            <option value="0" selected>Выберите тип</option>
                                                            {% for item in json_data['place_list'] %}
                                                            <option value="{{item['type']}}">{{item['type']}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Подтип площадки</p>
                                                        </div>
                                                        <select style="padding-right: 50px;" name="subtype" id="subtypeSelect">
                                                            <option value="0" selected>Выберите подтип</option>
                                                            {% for item in json_data['place_list'] %}
                                                            <optgroup label="{{item['type']}}">
                                                                {% for types in item['subtype'] %}
                                                                <option value="{{types['name']}}">{{types['name']}}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                            {% endfor %}
                                                        </select>
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Название</p>
                                                        </div>
                                                        <input type="text" name="name">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Краткое описание</p>
                                                        </div>
                                                        <input type="text" name="description">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Описание</p>
                                                        </div>
                                                        <input type="text" name="subdescription">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Адрес</p>
                                                        </div>
                                                        <input type="text" name="address">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Минимальный срок аренды</p>
                                                        </div>
                                                            <input type="number" name="rental_period">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Цена</p>
                                                        </div>
                                                        <input type="number" name="price">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Фотокарточка</p>
                                                        </div>
                                                        <input type="file" name="photo_path">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Наличие раздевалок</p>
                                                        </div>
                                                        <input type="checkbox" name="locker_room">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Наличие душевых</p>
                                                        </div>
                                                        <input type="checkbox" name="shower">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Наличие парковки</p>
                                                        </div>
                                                        <input type="checkbox" name="parking">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Наличие инвентаря</p>
                                                        </div>
                                                        <input type="checkbox" name="inventory">
                                                    </li>
                                                </ul>
                                                <button style="border-radius: 10px;" type="submit" class="more__btn" >Сохранить</button>
                                            </form>
                                        </div>
                                    </div>
                                        <!--change card-->
                                    <div id="change_card_selector" class="user" style="display: none;">
                                        <div class="text-wrap mb-2 pb-1">
                                            <h2>
                                            Выберите карточку для изменения
                                            </h2>
                                        </div>
                                        <ul class="listInfo Choose-card" style="display: list-item">
                                            {% for item in json_data['place_list'] %}
                                            <li style="display: list-item;">
                                                <h3 style="padding-bottom:10px;">{{item['type']}}</h3>
                                                <ul class="listInfo Choose-card">
                                                    {% for subtype in item['subtype'] %}
                                                    <li style="padding-left: 50px; display: list-item;">
                                                        <h4 style="padding-bottom:20px;">{{subtype['name']}}</h4>
                                                        <ul class="listInfo Choose-card">
                                                            {% for name in subtype['names'] %}
                                                            <li style="padding-left: 50px; display: list-item;">
                                                                <a data-target="change_card_form" href="#" class="list-info-item" data-type="{{item['type']}}" data-subtype="{{subtype['name']}}" data-name="{{name}}">
                                                                    <img class="ic_finished_orders" src="../static/images/svg-files/swap.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                                    {{name}}
                                                                </a>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <hr>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div id="change_card_form" class="user" style="display: none;">
                                        <div class="text-wrap mb-2 pb-1">
                                            <h2>
                                            Изменение выбранной карточки
                                            </h2>
                                        </div>
                                        <form class="inputForm__change-card" method="post" action=/place_action style="margin: 0px 50px; justify-content: center;" enctype="multipart/form-data">
                                                <input style="display: none" type="text" value="change" name="action">
                                                <ul class="listInfo">
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Тип площадки</p>
                                                        </div>
                                                        <input type="text" id="typeInput" name="type" readonly><br>
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Подтип площадки</p>
                                                        </div>
                                                        <input type="text" id="subtypeInput" name="subtype" readonly><br>
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Название</p>
                                                        </div>
                                                        <input type="text" id="nameInput" name="name" readonly><br>
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Краткое описание</p>
                                                        </div>
                                                        <input type="text" name="description">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Описание</p>
                                                        </div>
                                                        <input type="text" name="subdescription">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Адрес</p>
                                                        </div>
                                                        <input type="text" name="address">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Минимальный срок аренды</p>
                                                        </div>
                                                            <input type="number" name="rental_period">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Цена</p>
                                                        </div>
                                                        <input type="number" name="price">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Фотокарточка</p>
                                                        </div>
                                                        <input type="file" name="photo_path">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Наличие раздевалок</p>
                                                        </div>
                                                        <input type="checkbox" name="locker_room">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Наличие душевых</p>
                                                        </div>
                                                        <input type="checkbox" name="shower">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Наличие парковки</p>
                                                        </div>
                                                        <input type="checkbox" name="parking">
                                                    </li>
                                                    <li style="display: flex; justify-content: space-between;">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <img class="ic_finished_orders" src="../static/images/svg-files/add.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                            <p style="padding-right: 50px;">Наличие инвентаря</p>
                                                        </div>
                                                        <input type="checkbox" name="inventory">
                                                    </li>
                                                </ul>
                                                <button style="border-radius: 10px;" type="submit" class="more__btn" >Изменить</button>
                                            </form>
                                    </div>
                                    <!--delete card-->
                                    <div id="delete_card_selector" class="user" style="display: none;">
                                        <div class="text-wrap mb-2 pb-1">
                                            <h2>
                                            Выберите карточку для удаления
                                            </h2>
                                        </div>
                                        <ul class="listInfo delete-card" style="display: list-item">
                                            {% for item in json_data['place_list'] %}
                                            <li style="display: list-item;">
                                                <h3 style="padding-bottom:10px;">{{item['type']}}</h3>
                                                <ul class="listInfo delete-card">
                                                    {% for subtype in item['subtype'] %}
                                                    <li style="padding-left: 50px; display: list-item;">
                                                        <h4 style="padding-bottom:20px;">{{subtype['name']}}</h4>
                                                        <ul class="listInfo delete-card">
                                                            {% for name in subtype['names'] %}
                                                            <li style="padding-left: 50px; display: list-item;">
                                                                <form class="inputForm__change-card" method="post" action=/place_action style="margin: 0px 0px; justify-content: left;" enctype="multipart/form-data">
                                                                    <input style="display: none" type="text" value="delete" name="action">
                                                                    <input style="display: none" type="text" value="{{item['type']}}" name="type" >
                                                                    <input style="display: none" type="text" value="{{subtype['name']}}" name="subtype" >
                                                                    <input style="display: none" type="text" value="{{name}}" name="name" >
                                                                    <button style="border-radius: 10px; margin: 0px 0px; padding: 4px 14px;" type="submit" class="more__btn" >
                                                                        <img class="ic_finished_orders" src="../static/images/svg-files/delete.svg" style="filter: invert(100%); width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                                        {{name}}
                                                                    </button>
                                                                </form>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <hr>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div id="tabCancel" class="profileBox tabs-content__profile" style="display:none;">
                    <div class="row">
                        <div class="d-flex">
                            <div class="sidebar">
                                <div class="wrapper">
                                    <div class="user">
                                    <div class="text-wrap mb-2 pb-1">
                                        <p class="name" style="font-size: 18px;"> Заявки на отмену бронирования: </p>
                                    </div>
                                    </div>

                                        <ul class="listInfo">
                                            {% for item in json_data['cancel_list'] %}
                                            <li>
                                                <a href="#" class="list-info-item" data-target="cancellation_form_{{item['cancellation_id']}}">
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/delete.svg" style="width: 30px; height: 30px; padding-right: 10px;" alt="">
                                                    Заявка на отмену № {{item['cancellation_id']}}
                                                </a>
                                            </li>
                                            <hr>
                                            {% endfor %}


                                        </ul>

                                    </div>
                                </div>




                            <div class="sidebar" style="width: 800px;">
                                <div class="wrapper" style="min-width: 750px;">
                                    {% for item in json_data['cancel_list'] %}
                                    <div id="cancellation_form_{{item['cancellation_id']}}" class="user" style="display: none;">
                                        <div class="text-wrap mb-2 pb-1">
                                            <h2>
                                             Заявка на отмену № {{item['cancellation_id']}}
                                            </h2>
                                        </div>
                                        <ul class="listInfo delete-reserve" style="display: list-item">
                                            <li class="information-order__list-item" >
                                                <p>
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/coin.svg" style="width: 30px; height: 30px;" alt="">
                                                    Номер бронирования:
                                                </p>
                                                <p> {{item['reservation_id']}} </p>
                                            </li>
                                            <li class="information-order__list-item" >
                                                <p>
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/coin.svg" style="width: 30px; height: 30px;" alt="">
                                                    Тип площадки:
                                                </p>
                                                <p> {{item['type']}}</p>
                                            </li>
                                            <li class="information-order__list-item" >
                                                <p>
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/coin.svg" style="width: 30px; height: 30px;" alt="">
                                                    Подтип площадки:
                                                </p>
                                                <p> {{item['subtype']}}</p>
                                            </li>
                                            <li class="information-order__list-item" >
                                                <p>
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/coin.svg" style="width: 30px; height: 30px;" alt="">
                                                    Наименование:
                                                </p>
                                                <p> {{item['name']}}</p>
                                            </li>
                                            <li class="information-order__list-item" >
                                                <p>
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/coin.svg" style="width: 30px; height: 30px;" alt="">
                                                    Даты бронирования:
                                                </p>
                                                <p> {{item['start_date']}} - {{item['finish_date']}}</p>
                                            </li>
                                            <hr>
                                            <li class="information-order__list-item" >
                                                <p>
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/coin.svg" style="width: 30px; height: 30px;" alt="">
                                                    Имя пользователя:
                                                </p>
                                                <p> {{item['fullname']}} </p>
                                            </li>
                                            <li class="information-order__list-item" >
                                                <p>
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/coin.svg" style="width: 30px; height: 30px;" alt="">
                                                    Контактный номер:
                                                </p>
                                                <p> {{item['number']}} </p>
                                            </li>
                                            <li class="information-order__list-item" >
                                                <p>
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/coin.svg" style="width: 30px; height: 30px;" alt="">
                                                    Почта для уведомления:
                                                </p>
                                                <p> {{item['email']}} </p>
                                            </li>
                                            <li class="information-order__list-item" >
                                                <p>
                                                    <img class="ic_finished_orders" src="../static/images/svg-files/coin.svg" style="width: 30px; height: 30px;" alt="">
                                                    Причина:
                                                </p>
                                                {% if item['reason'] == 'cancel' %}
                                                <p> Отмена </p>
                                                {% elif item['reason'] == 'timeout' %}
                                                <p> Конец периода аренды </p>
                                                {% else %}
                                                <p> Не установлена </p>
                                                {% endif %}
                                            </li>
                                        </ul>
                                        <div style="display: flex;">
                                            <form method="post" style="max-width: 800px; margin: auto;" action=\cancellation_requests>
                                                <input style="display: none" type="text" value="cancel_reservation" name="action">
                                                <input style="display: none" type="text" value="{{item['reservation_id']}}" name="reservation_id">
                                                <input style="display: none" type="text" value="{{item['cancellation_id']}}" name="cancellation_id">
                                                <button style="border-radius: 10px;" type="submit" class="more__btn" >
                                                    Отменить бронирование
                                                </button>
                                            </form>
                                            <form method="post" style="max-width: 800px; margin: auto;" action=\cancellation_requests>
                                                <input style="display: none" type="text" value="cancel_cancellation" name="action">
                                                <input style="display: none" type="text" value="{{item['cancellation_id']}}" name="cancellation_id">
                                                <button style="border-radius: 10px;" type="submit" class="more__btn" >
                                                    Отклонить заявку
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Продукты
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="coffee-menu.html" class="footer__menu-link">
                                Кофе
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="specials.html" class="footer__menu-link">
                                Предложения
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Мерч
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Ресурсы
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Блог
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="faq.html" class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="contact.html" class="footer__menu-link">
                                Связаться с нами
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Работать с нами
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="franchise.html" class="footer__menu-link">
                                Франшиза
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="bartenders.html" class="footer__menu-link">
                                Бариста
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                О Roast&Run
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="aboutus.html" class="footer__menu-link">
                                О нас
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Команда
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Карьера
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p style="padding-bottom: 25px;" class="footer__copy-text">
                        По вопросам об услуге покупки кофе Roast&Run звоните по телефону 1-888-878-3227. Сертифицированные бариста по контракту обязаны с Roast&Run выполнять определенные требования по обслуживанию клиентов и проходить программу сертификации бариста Roast&Run.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run не занимается брокерской деятельностью, продажей и арендой кофейных зерен. Если не указано иное, все напитки, представленные на этом сайте, предлагаются для продажи в лицензированных кофейнях. Все напитки подлежат предварительной продаже. Заходя на этот веб-сайт, вы соглашаетесь с Условиями обслуживания и Политикой конфиденциальности Roast&Run.
                    </p>
                </div>
                <nav style="padding-bottom: 25px;" class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="terms-of-service.html" class="copy__nav-link">
                                Условия использования
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="privacy-policy.html" class="copy__nav-link slide-out">
                                Политика конфиденциальности
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="cookies.html" class="copy__nav-link">
                                Не продавайте мою личную информацию
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
    <script>
         function openbox(id, link) {
          var allTabs = document.querySelectorAll(".tab_profile");
          var allContents = document.querySelectorAll(".tabs-content__profile");

          // Удаление класса active у всех ссылок
          allTabs.forEach(tab => {
            tab.classList.remove('active');
          });

          // Установка класса active для выбранной ссылки
          link.parentNode.classList.add('active');

          // Показывание выбранного содержимого, скрытие остальных
          allContents.forEach(content => {
            if (content.id === id) {
              content.style.display = 'block';
            } else {
              content.style.display = 'none';
            }
          });
        }


        function openshedulebox(id, link) {
          var allTabs = document.querySelectorAll(".tab_profile-bot");
          var allContents = document.querySelectorAll(".shedule-week__box");

          // Удаление класса active у всех ссылок
          allTabs.forEach(tab => {
            tab.classList.remove('active');
          });

          // Установка класса active для выбранной ссылки
          link.parentNode.classList.add('active');

          // Показывание выбранного содержимого, скрытие остальных
          allContents.forEach(content => {
            if (content.id === id) {
              content.style.display = 'block';
            } else {
              content.style.display = 'none';
            }
          });
        }
    </script>
    <script>
        // Получаем ссылки на карточки
        var links = document.querySelectorAll('.list-info-item');

        // Переменная для хранения текущего открытого блока
        var currentBlock = null;

        // Функция для закрытия текущего блока
        function closeCurrentBlock() {
            if (currentBlock) {
                currentBlock.style.display = 'none';
                currentBlock = null; // Сбрасываем значение текущего блока
            }
        }

        // Для каждой ссылки добавляем обработчик события клика
        links.forEach(function(link) {
            link.addEventListener('click', function(event) {
                // Отменяем стандартное поведение ссылки (переход по адресу)
                event.preventDefault();

                // Получаем id блока, который нужно показать/скрыть
                var targetId = this.getAttribute('data-target');

                // Получаем ссылку на блок по его id
                var targetBlock = document.getElementById(targetId);

                // Если блок найден, изменяем его свойство display
                if (targetBlock) {
                    // Если текущий открытый блок совпадает с целевым блоком, то скрываем его
                    if (currentBlock === targetBlock) {
                        closeCurrentBlock();
                    } else {
                        // Закрываем текущий открытый блок, если такой есть
                        closeCurrentBlock();

                        // Показываем новый блок
                        targetBlock.style.display = 'inline-block';

                        // Обновляем текущий открытый блок
                        currentBlock = targetBlock;

                        // Если это ссылка с атрибутом data-target="change_card_form"
                        // то заполняем данные в форме
                        if (targetId === 'change_card_form') {
                            // Получаем значения type и subtype из data-атрибутов ссылки
                            var type = this.getAttribute('data-type');
                            var subtype = this.getAttribute('data-subtype');
                            var name = this.getAttribute('data-name');

                            // Находим инпуты формы по их id
                            var typeInput = document.getElementById('typeInput');
                            var subtypeInput = document.getElementById('subtypeInput');
                            var nameInput = document.getElementById('nameInput');

                            // Помещаем значения type и subtype в соответствующие инпуты формы
                            typeInput.value = type;
                            subtypeInput.value = subtype;
                            nameInput.value = name;
                        }
                    }
                }
            });
        });
    </script>



    <script src="../static/js/profile-item-info-switcher.js"></script>
</body>
</html>