<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportReserve&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="show-chatbot">
    <div class="wrapper fade-in">
        <header class="header header-main">
            <div class="container">
                <div class="header__inner">
                    <a href=/ class="logo">
                        <img src="static/images/svg-files/logoSR.svg" alt="" class="logo__img" style="filter: invert(0%);">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    О нас
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="coffee-menu.html" class="menu__list-link">
                                    Принцип работы
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="test.html" class="menu__list-link">
                                    Особенности
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Акции и новости
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Контакты
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/login class="menu__list-link">
                        <img src="static/images/svg-files/profile-img.svg" alt="" class="profile-logo__img">
                    </a>

                </div>
            </div>
        </header>

        <main class="main">
            <input type="hidden" id="sender-id" value="{{ sender_id }}">
            <button class="chatbot-toggler">
                <img class="ic_finished_orders icon-open" src="../static/images/svg-files/chat.svg" style="filter: invert(100%); width: 30px; height: 30px;" alt="">
                <img class="ic_finished_orders icon-close" src="../static/images/svg-files/cancel.svg" style="filter: invert(100%); width: 30px; height: 30px; display:none;" alt="">
            </button>
            <div class="chatbot" style="display: none;">
                <header>
                    <h2>Тех.поддержка</h2>
                    <span class="material-symbols-outlined">close</span>
                </header>
                <ul  id="chatbox" class="chatbox">
                    <li class="chat incoming">
                        <span class="material-symbols-outlined">smart_toy</span>
                        <p>Задайте интересующий вас вопрос</p>
                    </li>
                    <li class="chat outgoing">
                        <p>Тадам</p>
                    </li>
                </ul>
                <div class="chat-input">
                    <textarea id="user-message" placeholder="Написать..." required></textarea>
                    <span id="send-btn" class="material-symbols-outlined">send</span>
                </div>
            </div>
            <section class="top">
                <!--<div class="container">
                    <h1 class="menu-title title">
                        Enjoy our new lemonades
                    </h1>
                </div>-->
            </section>
            <div class="swiper-slide" style="background-image: url(../static/images/tenis.jpg);"></div>
            <section class="section block-drinks">
                <div class="container-upgrade">
                    <div class="block-drinks__links">
                        <div class="menu-links">
                            {% for places in json_data['place_list'] %}
                            <a class="menu-links__item" href="#category-{{loop.index}}">{{places['type'][0]}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="block-drinks__wrap">
                        {% for places in json_data['place_list'] %}
                        <div class="block-drinks__item" id="category-{{loop.index}}">
                            <div class="block-drinks__item-title">
                                {{places['type'][0]}}
                            </div>
                            <div class="block-drinks__item-wrap">
                                {% for subtypes in places['subtypes'] %}
                                <a class="drinks-item drinks-item_home" href=/catalog-page/{{subtypes[1]}}>
                                    <div class="image-darker" ><div class="scale"><img src="../static/images/catalog/{{places['type'][1]}}/{{subtypes[1]}}/{{subtypes[1]}}.jpg" alt="image"></div></div>
                                    <div class="drinks-item__name">{{subtypes[0]}}</div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Products
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="coffee-menu.html" class="footer__menu-link">
                                Coffee
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Specials
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Merch
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Resources
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Blog
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="" class="footer__menu-link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Work with US
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Franchise
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Bartenders
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                About
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                About us
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Team
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Careers
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__copy-text">
                        For questions about the Roast&Run Coffee Buying Service please call 1-888-878-3227, Certified Baristas are contractually obligated by Roast&Run to meet certain customer service requirements and complete the Roast&Run Barista Certification Program.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run does not broker, sell, or lease coffee beans. Unless otherwise noted, all beverages shown on this website are offered for sale by licensed coffee shops. All drinks are subject to prior sale. By accessing this website, you agree to the Roast&Run Terms of Service and Privacy Policy
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Do Not Sell My Personal Information
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
    <script>
        const toggleButton = document.querySelector('.chatbot-toggler');
        const chatbot = document.querySelector('.chatbot');
        const iconOpen = document.querySelector('.icon-open');
        const iconClose = document.querySelector('.icon-close');

        toggleButton.addEventListener('click', () => {
            if (chatbot.style.display === 'none') {
                chatbot.style.display = 'block';
                iconOpen.style.display = 'none';
                iconClose.style.display = 'inline-block';
            } else {
                chatbot.style.display = 'none';
                iconOpen.style.display = 'inline-block';
                iconClose.style.display = 'none';
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
    <script src="../static/js/helper-window-message-taker-user-side.js"></script>
</body>
</html>