<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportReserve</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header header-main">
            <div class="container">
                <div class="header__inner">
                    <a href="index.html" class="logo">
                        <img src="images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    О нас
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="coffee-menu.html" class="menu__list-link">
                                    Принцип работы
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="test.html" class="menu__list-link">
                                    Особенности
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Акции и новости
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Контакты
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/login class="menu__list-link">
                        <img src="static/images/svg-files/profile-img.svg" alt="" class="profile-logo__img">
                    </a>

                </div>
            </div>
        </header>


        <main class="main">
            <section class="top">
                <div class="container">
                    <h1 class="title">
                        SportReserve
                    </h1>
                    <a href=/catalog-page class="top__link">
                        Забронировать
                    </a>
                </div>
            </section>
            <div class="slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-1.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-2.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-3.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-4.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-5.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-6.jpg);"></div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <section class="why-me">
                <div class="container">
                    <h2 class="section-title">
                        Why Roast&Coffee?
                    </h2>
                    <ul class="why-me__list">
                        <li class="why-me__item">
                            <img class="why-me__item-img" src="images/why-me/why-me-1.svg" alt="">
                            <h3 class="why-me__item-title">
                                High quality beans from South America
                            </h3>
                            <p class="why-me__item-text">
                                We carefully select only the best coffee beans from different regions of the world to provide our customers with the highest quality drink.
                            </p>
                        </li>
                        <li class="why-me__item">
                            <img class="why-me__item-img" src="images/why-me/why-me-5.svg" alt="">
                            <h3 class="why-me__item-title">
                                Selected coffee varieties
                            </h3>
                            <p class="why-me__item-text">
                                We present the most exquisite and high-quality varieties of coffee, selected specifically for true connoisseurs of this drink.
                            </p>
                        </li>
                        <li class="why-me__item">
                            <img class="why-me__item-img" src="images/why-me/why-me-3.svg" alt="">
                            <h3 class="why-me__item-title">
                                Unique tastes and aromas
                            </h3>
                            <p class="why-me__item-text">
                                We guarantee that every cup of coffee from our range will delight you with a unique taste and aroma that is unique and memorable.
                            </p>
                        </li>
                        <li class="why-me__item">
                            <img class="why-me__item-img" src="images/why-me/why-me-9.svg" alt="">
                            <h3 class="why-me__item-title">
                                Personal approach to each client
                            </h3>
                            <p class="why-me__item-text">
                                Our team is ready to provide individual recommendations and advice on choosing coffee, taking into account your preferences and taste preferences. The time spent with us will be unforgettable.                            </p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="how-does">
                <div class="container">
                    <div class="how-does__inner">
                        <h2 class="section-title">
                            Welcome to Roast&Run
                        </h2>
                        <p class="how-does__text">
                            Our coffee shop is a place where every guest can plunge into the atmosphere of a real coffee ritual. We offer only the best coffees, freshly roasted beans and professionally prepared drinks. We care about the quality of every cup of coffee and strive to surprise you with our flavor combinations.
                        </p>
                        <h4 class="how__does-title">
                             What awaits you at Roast&Run
                        </h4>
                        <ol class="how__does-list">
                            <li class="how__does-item">
                                Large selection of coffee varieties: from espresso and cappuccino to exclusive coffee drinks created by our baristas
                            <li class="how__does-item">
                                We offer a wide selection of desserts and snacks that pair perfectly with our coffee
                            </li>
                            <li class="how__does-item">
                                Every visitor to our coffee shop gets an unforgettable experience of communicating and enjoying aromatic coffee.
                            </li>
                        </ol>
                        <p class="how-does__text">
                            Visit our coffee shop to plunge into the world of real coffee and enjoy high quality and aroma. We guarantee you a pleasant time, quality coffee and a pleasant welcome from our team. Welcome to Roast&Run!
                        </p>
                    </div>
                </div>
            </section>
            <section class="welcome-video">
                <div class="container">
                    <h2 class="section-title welcome-video__title">
                        WELCOME to Roast&Run Coffee
                    </h2>
                    <p class="welcome-video__text">
                        Dive into the world of aromatic coffee today!
                    </p>
                    <iframe class="video__content" width="1000" height="500" src="https://www.youtube.com/embed/dHYTo6Da2aA?si=8g_RcWYNfqWV2I4X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </section>
            <section class="important">
                <div class="container">
                    <h2 class="section-title important__title">
                        Special Roast&Run Offers
                    </h2>
                    <ul class="important__list">
                        <li class="important__item">
                            <img class="important__item-img" src="images/imp/imp-1.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Up to 30% discount on orders via the app
                            </h4>
                            <p class="important__item-text">
                                Use our special application, accumulate points for visiting our coffee shop and pay up to 30% of your order using the accumulated points
                            </p>
                        </li>
                        <li class="important__item">
                            <img class="important__item-img" src="images/imp/imp-2.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Pay what you want for coffee
                            </h4>
                            <p class="important__item-text">
                                One person can only take one drink. You can take advantage of the offer after subscribing to the coffee shop’s Instagram.
                            </p>
                        </li>
                        <li class="important__item">
                            <img class="important__item-img" src="images/imp/imp-3.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                A third cup of coffee as a gift
                            </h4>
                            <p class="important__item-text">
                                The special offer is valid for a month from the date of the test opening of the coffee shop.
                            </p>
                        </li>
                        <li class="important__item">
                            <img class="important__item-img" src="images/imp/imp-4.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Up to 10% discount on any coffee in your glass
                            </h4>
                            <p class="important__item-text">
                                Each coffee chain offers a 10% discount on drinks in your own glass.
                            </p>
                        </li>
                    </ul>
                </div>
                <button id="goToSpecialsPageButton" class="more__btn" type="button">More</button>
            </section>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Products
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="coffee-menu.html" class="footer__menu-link">
                                Coffee
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="specials.html" class="footer__menu-link">
                                Specials
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Merch
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Resources
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Blog
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="faq.html" class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="contact.html" class="footer__menu-link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Work with US
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="franchise.html" class="footer__menu-link">
                                Franchise
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="bartenders.html" class="footer__menu-link">
                                Barista
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                About
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="aboutus.html" class="footer__menu-link">
                                About us
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Team
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Careers
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__copy-text">
                        For questions about the Roast&Run Coffee Buying Service please call 1-888-878-3227, Certified Baristas are contractually obligated by Roast&Run to meet certain customer service requirements and complete the Roast&Run Barista Certification Program.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run does not broker, sell, or lease coffee beans. Unless otherwise noted, all beverages shown on this website are offered for sale by licensed coffee shops. All drinks are subject to prior sale. By accessing this website, you agree to the Roast&Run Terms of Service and Privacy Policy
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="terms-of-service.html" class="copy__nav-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="privacy-policy.html" class="copy__nav-link slide-out">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="cookies.html" class="copy__nav-link">
                                Do Not Sell My Personal Information
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="static/js/slider-main.js"></script>
</body>
</html>