<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportReserve</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header header-main">
            <div class="container">
                <div class="header__inner">
                    <a href=/ class="logo">
                        <img src="static/images/svg-files/logoSR.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="#aboutus" class="menu__list-link">
                                    О нас
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#how-it-work" class="menu__list-link">
                                    Принцип работы
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="test.html" class="menu__list-link">
                                    Особенности
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#news" class="menu__list-link">
                                    Акции и новости
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#contacts" class="menu__list-link">
                                    Контакты
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/login class="menu__list-link">
                        <img src="static/images/svg-files/profile-img.svg" alt="" class="profile-logo__img">
                    </a>

                </div>
            </div>
        </header>


        <main class="main">
            <section class="top">
                <div class="container">
                    <h1 class="title">
                        SportReserve
                    </h1>
                    <a href=/catalog-page class="top__link">
                        Забронировать
                    </a>
                </div>
            </section>
            <div class="slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-1.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-2.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-3.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-4.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-5.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(../static/images/slider-main/slide-6.jpg);"></div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <section class="why-me">
                <div class="container" id="aboutus">
                    <h2 class="section-title">
                        Что такое SportReserve?
                    </h2>
                    <ul class="why-me__list">
                        <li class="why-me__item">
                            <img class="why-me__item-img" src="images/why-me/why-me-1.svg" alt="">
                            <h3 class="why-me__item-title">
                                Удобное онлайн бронирование спорт.площадок
                            </h3>
                            <p class="why-me__item-text">
                                Наш сервис позволяет вам легко и быстро найти и забронировать различные спортивные объекты, чтобы организовать игру или тренировку в удобное для вас время. Мы предлагаем широкий выбор спортивных площадок для любых видов спорта, чтобы вы могли получить максимум удовольствия от вашего активного образа жизни.
                            </p>
                        </li>
                        <li class="why-me__item">
                            <img class="why-me__item-img" src="images/why-me/why-me-5.svg" alt="">
                            <h3 class="why-me__item-title">
                                Разнообразие объектов для всех видов занятий
                            </h3>
                            <p class="why-me__item-text">
                                Наш сервис предоставляет доступ к различным спортивным площадкам, включая футбольные поля, теннисные корты, баскетбольные и волейбольные площадки, беговые дорожки и многое другое. Независимо от ваших спортивных предпочтений, у нас вы найдете подходящую площадку для занятий.
                            </p>
                        </li>
                        <li class="why-me__item">
                            <img class="why-me__item-img" src="images/why-me/why-me-3.svg" alt="">
                            <h3 class="why-me__item-title">
                                Простота и удобство бронирования спортивных объектов
                            </h3>
                            <p class="why-me__item-text">
                                Мы создали наш сервис так, чтобы процесс бронирования спортивных площадок был максимально простым и удобным для вас. С помощью нескольких кликов мы поможем вам выбрать подходящую площадку, указать дату и время бронирования, а затем просто прийти и насладиться занятиями спортом.
                            </p>
                        </li>
                        <li class="why-me__item">
                            <img class="why-me__item-img" src="images/why-me/why-me-9.svg" alt="">
                            <h3 class="why-me__item-title">
                                Наше сообщество спортивных энтузиастов
                            </h3>
                            <p class="why-me__item-text">
                                Присоединяйтесь к нашему сообществу любителей спорта, которые ценят активный образ жизни и заботятся о своем здоровье. Наши пользователи находят в нашем сервисе не только удобный способ бронирования площадок, но и возможность общения, участия в турнирах и совместных тренировках. Будьте частью нашего сообщества и делитесь своей любовью к спорту с другими!
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="how-does" id="how-it-work">
                <div class="container">
                    <div class="how-does__inner">
                        <h2 class="section-title">
                            Принцип работы сервиса SportReserve
                        </h2>
                        <p class="how-does__text">
                            Наш сервис бронирования спортивных площадок - это удобный инструмент для всех любителей спорта. Мы сосредотачиваемся на предоставлении доступа к различным спортивным объектам в вашем городе, чтобы вы могли легко организовать игру или тренировку с друзьями или коллегами. Мы упрощаем процесс бронирования и обеспечиваем простой и надежный способ заниматься спортом в вашем городе. Присоединитесь к нам сегодня и откройте для себя новые возможности для активного досуга!
                        </p>
                        <h4 class="how__does-title">
                             Как сделать бронь площадки?
                        </h4>
                        <ol class="how__does-list">
                            <li class="how__does-item">
                                Выберите какие площадки вас интересуют на странице каталога и перейдите на их страницу
                            <li class="how__does-item">
                                Ознакомьтесь с действующими площадками и выберите подходящую именно вам
                            </li>
                            <li class="how__does-item">
                                В личном кабинете убедитесь, что бронирование площадки совершенно успешно
                            </li>
                            <li class="how__does-item">
                                Если же планы изменились, вы с легкостью можете отменить ваше бронирование в личном кабинете
                            </li>
                        </ol>
                        <p class="how-does__text">
                            SportReserve предоставляет удобный сервис по бронированию спортивных площадок любого калибра. Мы рады нести в этот мир больше теплых и приятных эмоций от занятия спортом.
                        </p>
                    </div>
                </div>
            </section>
            <section class="welcome-video">
                <div class="container">
                    <h2 class="section-title welcome-video__title">
                        Добро пожаловать в SportReserve
                    </h2>
                    <p class="welcome-video__text">
                        Окунитесь в мир спорта вместе с SportReserve!
                    </p>
                    <iframe class="video__content" width="1000" height="500" src="https://www.youtube.com/embed/dHYTo6Da2aA?si=8g_RcWYNfqWV2I4X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </section>
            <section class="important" id="news">
                <div class="container">
                    <h2 class="section-title important__title">
                        Акции и новости SportReserve
                    </h2>
                    <ul class="important__list">
                        <li class="important__item">
                            <img class="important__item-img" src="images/imp/imp-1.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Больше площадок на любой вкус
                            </h4>
                            <p class="important__item-text">
                                Следите за выходом новых спортивных площадками. Наш сервис растёт, а вместе с тем мы обрастаем новыми партнёрствами, которыми с радостью представляем вам.
                            </p>
                        </li>
                        <li class="important__item">
                            <img class="important__item-img" src="images/imp/imp-2.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Новые сезонные площадки
                            </h4>
                            <p class="important__item-text">
                                Новые площадки - "Бассейны" - уже доступны на нашем сервисе. Успейте забронировать уже сейчас!
                            </p>
                        </li>
                        <li class="important__item">
                            <img class="important__item-img" src="images/imp/imp-3.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Доступ к специалистам тех.поддержки
                            </h4>
                            <p class="important__item-text">
                                Теперь каждый может обратиться к нашей технической поддержке по любому вопросу.
                            </p>
                        </li>
                        <li class="important__item">
                            <img class="important__item-img" src="images/imp/imp-4.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Скидки нашим постоянным гостям
                            </h4>
                            <p class="important__item-text">
                                Мы заботимся о наших постоянных гостях, поэтому мы предоставляем скидку в 10% при оплате бронирвания по промокоду "SportReserve".
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="container" id="contacts">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                SportReserve
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Каталог
                            </a>
                        </li>

                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Контакты
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=# class="footer__menu-link">
                                Контактный номер: +7(960)880-88-00
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="bartenders.html" class="footer__menu-link">
                                Почта: sportreserve@gmail.com
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>

            </div>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="static/js/slider-main.js"></script>
</body>
</html>