<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportReserve</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                     <a href=/ class="logo">
                        <img src="../static/images/svg-files/logoSR.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    О нас
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="coffee-menu.html" class="menu__list-link">
                                    Принцип работы
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="test.html" class="menu__list-link">
                                    Особенности
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Акции и новости
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Контакты
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/login class="menu__list-link">
                        <img src="../static/images/svg-files/profile-img.svg" alt="" class="profile-logo__img">
                    </a>

                </div>
            </div>
        </header>


        <main class="main">
            <section style="display: none;" class="section">
                <div class="block-scroll">
                    <div class="block-scroll__items">
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-1.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">TOP 10</div>
                                <div class="block-scroll__text">Included in the top 10 best small business startups according to Forbes in 2015.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-2.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">First place</div>
                                <div class="block-scroll__text">Chef Barista Kelly Taylor received the National Barista of the Year 2018 Award</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-3.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">EFF 2018</div>
                                <div class="block-scroll__text">obtaining the EFF certificate - European Franchising Federation. </div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-4.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">40% of the market</div>
                                <div class="block-scroll__text">in the “coffee to go” segment in 2018 according to Discovery Research Group. </div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-5.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">SCA 2018</div>
                                <div class="block-scroll__text">Roast&Run joined SCA - an international community of coffee professionals.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-6.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">Third place</div>
                                <div class="block-scroll__text">and the People's Choice Award for the European Coffee Cup 2019.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-7.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">Eighth place</div>
                                <div class="block-scroll__text">in the rating of retail franchises for 2022 according to the EMTG Company.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-8.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">21 million</div>
                                <div class="block-scroll__text">users in the Roast&Run loyalty program</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-9.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">10 years</div>
                                <div class="block-scroll__text">companies in 2023</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-10.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">340 coffee bars</div>
                                <div class="block-scroll__text">from the largest franchisee partner of the Roast&Run network.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-11.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">5740 coffee bars</div>
                                <div class="block-scroll__text">in the network</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="images/aboutUs/scroll-pannel/about-sp-12.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">No. 1</div>
                                <div class="block-scroll__text">According to the BuyBrand and Wahrheit ratings in 2023.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h2 class="section-title about__title">
                {{ place_name }}
            </h2>
            <div class="container-upgrade">
                <div class="about-us__items">
                    {% for item in json_data[place_name] %}
                        {% if loop.index % 2 != 0 %}
                            <div class="about-item">
                                <div class="about-item__line about-item__line_mob" style="background-color: #38220f;"></div>
                                <div class="about-item__image">
                                    <div class="image-card">
                                        <div class="image-card__img"><img src="{{ item['photo_path'] }}" alt="image"></div>
                                        <div class="image-card__content">
                                            <div class="image-card__title">{{ item['name'] }}</div>
                                            <div class="image-card__subtitle">{{ item['description'] }}</div>
                                            <div class="image-card__text">
                                                {% for line in item['subdescription'] %}
                                                <p>
                                                    {{line}}
                                                </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-item__content">
                                    <div class="about-item__line about-item__line_desc" style="background-color: #38220f;"></div>
                                    <div class="about-item__title">{{ item['name'] }}</div>
                                    <div class="about-item__text">
                                        <p> <b>Адрес: </b>  {{ item['address'] }}</p>
                                        <p> <b> Минимальный срок аренды:</b>   {{ item['rental_period'] }}</p>
                                        <p> <b> Цена:</b>   {{ item['price'] }} руб/день</p>
                                        {% if item['locker_rooms'] == 'True' %}
                                        <p> <b> Раздевалки:</b> <button style="border: none;padding: 0;background: none;" id="level-info-btn" type="button" class="tip-ic"><img src="../static/images/svg-files/yes.svg" style="width: 25px; height: 25px;" alt=""></button>
                                            <div id="level-info-label" class="tip" style="display: none;position: absolute;z-index: 1;background-color: #f5f5f5;padding: 10px;border: 1px solid #ccc;">
                                                <p> - Площадка оборудована специализированными раздевалками</p>
                                            </div>
                                        </p>
                                        {% else %}
                                        <p> <b> Раздевалки:</b>   <img style="width: 25px; height: 25px;" src="../static/images/svg-files/no.svg" alt="image"></p>
                                        {% endif %}
                                        {% if item['shower'] == 'True' %}
                                        <p> <b> Душевые комнаты:</b>  <img style="width: 25px; height: 25px;" src="../static/images/svg-files/yes.svg" alt="image"> </p>
                                        {% else %}
                                        <p> <b> Душевые комнаты:</b>   <img style="width: 25px; height: 25px;" src="../static/images/svg-files/no.svg" alt="image"></p>
                                        {% endif %}
                                        {% if item['parking'] == 'True' %}
                                        <p> <b> Парковка:</b>  <img style="width: 25px; height: 25px;" src="../static/images/svg-files/yes.svg" alt="image"> </p>
                                        {% else %}
                                        <p> <b> Парковка:</b>   <img style="width: 25px; height: 25px;" src="../static/images/svg-files/no.svg" alt="image"></p>
                                        {% endif %}
                                        {% if item['inventory'] == 'True' %}
                                        <p> <b> Инвентарь:</b>  <img style="width: 25px; height: 25px;" src="../static/images/svg-files/yes.svg" alt="image"> </p>
                                        {% else %}
                                        <p> <b> Инвентарь:</b>   <img style="width: 25px; height: 25px;" src="../static/images/svg-files/no.svg" alt="image"></p>
                                        {% endif %}



                                        <form method="post" action="/handle_form" style="margin: auto auto;">
                                            <div class="reserve-time__selector-box" style="display: flex; justify-content: space-between;">
                                                <select  name="start_date_{{item['id']}}_r">
                                                    <option value="0" selected>Начало аренды</option>
                                                    {% for date in item['start_date'] %}
                                                    <option value="{{date}}">{{date}}</option>
                                                    {% endfor %}
                                                </select>
                                                <select  name="finish_date_{{item['id']}}_r">
                                                    <option value="0" selected>Конец аренды</option>
                                                    {% for date in item['finish_date'] %}
                                                    <option value="{{date}}">{{date}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button style="border-radius: 10px;" type="submit" class="more__btn" >Забронировать</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="about-item">
                                <div class="about-item__line about-item__line_mob" style="background-color: rgba(56,34,15, 0.80);"></div>
                                <div class="about-item__content">
                                    <div class="about-item__line about-item__line_desc" style="background-color: rgba(56,34,15, 0.80);"></div>
                                    <div class="about-item__title">{{ item['name'] }}</div>
                                    <div class="about-item__text">

                                        <p> <b>Адрес: </b>  {{ item['address'] }}</p>
                                        <p> <b> Минимальный срок аренды:</b>   {{ item['rental_period'] }}</p>
                                        <p> <b> Цена:</b>   {{ item['price'] }} руб/день</p>
                                        {% if item['locker_rooms'] == 'True' %}
                                        <p> <b> Раздевалки:</b>  <img style="width: 25px; height: 25px;" src="../static/images/svg-files/yes.svg" alt="image"> </p>
                                        {% else %}
                                        <p> <b> Раздевалки:</b>   <img style="width: 25px; height: 25px;" src="../static/images/svg-files/no.svg" alt="image"></p>
                                        {% endif %}
                                        {% if item['shower'] == 'True' %}
                                        <p> <b> Душевые комнаты:</b>  <img style="width: 25px; height: 25px;" src="../static/images/svg-files/yes.svg" alt="image"> </p>
                                        {% else %}
                                        <p> <b> Душевые комнаты:</b>   <img style="width: 25px; height: 25px;" src="../static/images/svg-files/no.svg" alt="image"></p>
                                        {% endif %}
                                        {% if item['parking'] == 'True' %}
                                        <p> <b> Парковка:</b>  <img style="width: 25px; height: 25px;" src="../static/images/svg-files/yes.svg" alt="image"> </p>
                                        {% else %}
                                        <p> <b> Парковка:</b>   <img style="width: 25px; height: 25px;" src="../static/images/svg-files/no.svg" alt="image"></p>
                                        {% endif %}
                                        {% if item['inventory'] == 'True' %}
                                        <p> <b> Инвентарь:</b>  <img style="width: 25px; height: 25px;" src="../static/images/svg-files/yes.svg" alt="image"> </p>
                                        {% else %}
                                        <p> <b> Инвентарь:</b>   <img style="width: 25px; height: 25px;" src="../static/images/svg-files/no.svg" alt="image"></p>
                                        {% endif %}
                                        <form method="post" action="/handle_form" style="margin: auto auto;">
                                            <div class="reserve-time__selector-box" style="display: flex; justify-content: space-between;">
                                                <select  name="start_date_{{item['id']}}_l">
                                                    <option value="0" selected>Начало аренды</option>
                                                    {% for date in item['start_date'] %}
                                                    <option value="{{date}}">{{date}}</option>
                                                    {% endfor %}
                                                </select>
                                                <select  name="finish_date_{{item['id']}}_l">
                                                    <option value="0" selected>Конец аренды</option>
                                                    {% for date in item['finish_date'] %}
                                                    <option value="{{date}}">{{date}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button style="border-radius: 10px;" type="submit"  class="more__btn" >Забронировать</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="about-item__image">
                                    <div class="image-card">
                                        <div class="image-card__img"><img src="{{ item['photo_path'] }}" alt="image"></div>
                                        <div class="image-card__content">
                                            <div class="image-card__title">{{ item['name'] }}</div>
                                            <div class="image-card__subtitle">{{ item['description'] }}</div>
                                            <div class="image-card__text">
                                                {% for line in item['subdescription'] %}
                                                <p>
                                                    {{line}}
                                                </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}


                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Products
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="coffee-menu.html" class="footer__menu-link">
                                Coffee
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Specials
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Merch
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Resources
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Blog
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="" class="footer__menu-link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Work with US
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Franchise
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Bartenders
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                About
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                About us
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Team
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Careers
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__copy-text">
                        For questions about the Roast&Run Coffee Buying Service please call 1-888-878-3227, Certified Baristas are contractually obligated by Roast&Run to meet certain customer service requirements and complete the Roast&Run Barista Certification Program.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run does not broker, sell, or lease coffee beans. Unless otherwise noted, all beverages shown on this website are offered for sale by licensed coffee shops. All drinks are subject to prior sale. By accessing this website, you agree to the Roast&Run Terms of Service and Privacy Policy
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Do Not Sell My Personal Information
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>



    <script src="../static/js/yes-no-show.js"></script>
</body>
</html>