<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>SportReserve</title>
</head>
<body>
    <header class="head">
        <div class="top_menu">
            <ul>
                <li> <a href="#"></a> О нас</li>
                <li><a href="#"></a>Каталог площадок</li>
                <li><a href="#"></a>Контакты</li>
                <li><a href="#"></a>Вход</li>
            </ul>
        </div>
        <div class="container">
            <h1>SportReserve</h1>
            <p>Бронирование спортивных площадок в любое время и в любом месте.</p>
            <div class="head-form__buttons" >
                <form class="to-find-item-main-form" style="margin: auto auto;" method="post" action="/confirm_order">
                    <input type="hidden" name="#" value=#>
                    <button type="submit" style="cursor: pointer; margin: auto auto;" >
                    Найти площадку
                    </button>
                </form>
            </div>
                            <div class="head-form__buttons" >


                <form class="to-registration-main-form" style="margin: auto auto;" method="post" action="/confirm_order">
                    <input type="hidden" name="#" value=#>
                    <button type="submit" style="cursor: pointer; margin: auto auto;" >
                    Зарегестрироваться
                    </button>
                </form>
            </div>
        </div>
        <div style="z-index: -1;" class="swiper-slide">
            <img src="static/imgs/head-logo.jpg">
        </div>
    </header>
    <section class="info">
        <div class="container">
            <h1>Как это работает?</h1>
        </div>
        <div class="page">
            <div class="page1">
                <h2>Выбор площадок</h2>
                <h3>Выберите желаемую спортивную площадку из разнообразных вариантов.</h3>
            </div>
            <div class="page2">
                <h2>Бронирование</h2>
                <h3>Забронируйте площадку на удобное для вас время и указанное местоположение.</h3>
            </div>
            <div class="page3">
                <h2>Оплата</h2>
                <h3>Оплатите бронирование и получите подтверждение вашей брони.</h3>
            </div>
        </div>
    </section>
    <footer class="foot">
        <div class="container">
            <h1>SportReserve</h1>
            <ul>
                <li><a href="#"></a>Наш адрес и телефон</li>
                <li><a href="#"></a>Что-то</li>
                <li><a href="#"></a>Что-то2</li>
                <li><a href="#"></a>Поддержка</li>
            </ul>
        </div>
    </footer>
</body>
</html>


